<h1>State List</h1>

<p>here is a list of states...</p>

<ul>
	<li>
		<%= states.each do | statename |
		puts statename
		end %>
	</li>
</ul>





<!-- iterate through each state in the array and put them into list items individually -->

